@page "/builders"


<h3>Builders</h3>


<ul>
    <li><a href="builders/htmlcatbanners">HTML Category Banners</a></li>
    <li><a href='builders/categorybanner'>Category Banners</a></li>
    <li><a href="builders/megamenu">Mega Menu</a></li>
</ul>

@code{
    
}
