@page "/builders/twocardsbanners"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@* @using System.Threading.Tasks *@

<PageTitle>Two Cards Banners</PageTitle>

<div class="row" style="margin: 30px auto;">
    <div class="col-md-6">
        <div style="width: 100%; background: white;margin-bottom: 30px;box-shadow:0 3px 15px #0000001a;border-radius:35px;display: grid;text-align:center;">
            <a href="/tv-and-home-theater/4k-ultra-hd-tvs/_/N-103341?Ns=price0" style="color: black; text-decoration: none;" target="_blank" aria-label="4K Smart TVs starting as low as $149.99.">
                <img src="/images/promo-banners/digital-circular/images/2023/1208-circular/category-banners/1208-4k-smart-tv-banner-mobile.png" alt="" style="margin:0 auto;padding: 0;display: block;width: 100%;">
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div style="width: 100%; background: white;  margin-bottom: 30px;box-shadow:0 3px 15px #0000001a;border-radius:35px;display: grid;text-align:center;">
            <a href="/tv-and-home-theater/4k-ultra-hd-tvs/_/N-103341+AI580336?Ns=price0" style="color: black; text-decoration: none;" target="_blank" aria-label="75 inch 4k smart TVs starting as ow as $449.88.">
                <img src="/images/promo-banners/digital-circular/images/2023/1208-circular/category-banners/1208-75-4k-smart-tv-banner-mobile.png" alt="" style="margin:0 auto;padding: 0;display: block;width: 100%;">
            </a>
        </div>
    </div>
</div>